@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/* Colors */
:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}


/* Css Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Body, Typography Styling */

html {
  background-color: var(--white);

}

body {
  background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}


h1,
h2,
h3,
p {
  font-family: 'League Spartan', sans-serif;
}

main {
  padding: 50px 50px;
  overflow: hidden;
  min-height: 97%;
}

.wrapper {
  padding: 50px 250px;
  text-align: left;
}

/* Top Section */

/* Article */

article {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  padding-bottom: 50px;
  margin: 0 auto;
}

article .desc {
  width: 450px;
}

article h1 {
  font-size: 3.5em;
  font-weight: bolder;
  line-height: .9;
  color: var(--very-dark-magenta);
  padding-bottom: 15px;

}

.desc p {
  color: var(--dark-grayish-magenta);
}

article p {
  color: var(--very-dark-magenta);
  font-size: 1.1em;
  font-weight: 500;
}

/* Rating Stars */

.ctn-rating {
  display: flex;
  padding-right: 60px;
  flex-direction: column;
  justify-content: space-evenly;

}

.ctn-rating-card {
  background-color: var(--light-grayish-magenta);
  border-radius: 10px;
  display: inherit;
  align-items: center;
  height: 50px;
}

.ctn-rating-card:first-child {
  margin-right: 50px;
  margin-left: -50px;
}

.ctn-rating-card:nth-child(3) {
  margin-left: 50px;
  margin-right: -50px;
}

.ctn-rating-card p {
  padding-left: 25px;
  font-size: 20px;
  font-weight: 700;
}

.ctn-stars {
  margin-left: 10px;
  padding: 4px;
  display: flex;
  justify-content: space-evenly;
}

.ctn-stars img {
  margin: 5px;
}

/* Bottom Section */

.ctn-reviews {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 365px);
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  min-width: 900px;
  min-height: 100%;

}

.card {
  background-color: var(--very-dark-magenta);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-top {
  display: inherit;
  padding: 10px 5px 20px 5px;
}

.card-top img {
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.card-top h2 {
  color: var(--white);
  line-height: 1;
  padding-top: 10px;
  font-size: 1em;
  font-weight: 500;
}

.card-top h3 {
  color: var(--soft-pink);
  font-size: 1em;
  font-weight: 400;
  padding: 0;
  margin-top: -2px;
}

.card p {
  color: var(--white);
  width: 90%;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  padding-bottom: 10px;
  word-break: keep-all;
}

.card:first-child {
  margin-top: -15px;
  margin-bottom: 15px;
}

.card:nth-child(3) {
  margin-top: 15px;
  margin-bottom: -15px;
}

/* Footer */

.attribution {
  font-size: 16px;
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  color: var(--dark-grayish-magenta);
}

.attribution a {
  color: var(--very-dark-magenta);
  text-decoration: none;
}

/* Media Query */

@media screen and (min-width: 375px) and (max-width: 1440px) {

  main {
    min-width: 90%;
    background-color: antiquewhite;
    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat no-repeat;
    background-position: top left, bottom right;
    background-size: contain;
    min-height: 100%;
  }

  .wrapper {
    min-width: 90%;
    min-height: 100%;
    padding: 10px 50px;
  }

  article {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 50px;
    padding-left: 50px;
    width: 90%;
    height: auto;
    margin: auto;
  }

  .desc h1 {
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
  }

  .para-desc {
    width: 365px;
    padding-top: 25px;
    padding-left: 40px;
  }

  .ctn-rating {
    padding-right: 50px;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .ctn-rating-card {
    flex-direction: column;
    padding: 55px 20px;
  }

  .ctn-stars {
    margin-top: -40px;
  }

  .ctn-rating-card p {
    width: 300px;
    padding: 5px;
  }

  .ctn-rating-card:first-child,
  .ctn-rating-card:last-child {
    margin: 20px;
  }

 
}

  
